__pycache__
*.pyc
# augs.py
data
environment.yml
exp
joint_strategy_vis.ipynb
old
paper_mnist_vis.ipynb
# pretrain_models
# unsupervised
unsupervised/unsupervised_exp
# utils.py
.vscode
.DS_Store
run0.sh
run1.sh
run2.sh
.ipynb_checkpoints
transfer.md
# semi_supervised
dataset/
*.zip
tmp/
pretrain_models/joint_strategy_vis
pretrain_models/mnist_superpixel_vis
transfer/transfer_exp